/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

/*************************************/
.mh-95 {
    min-height: 95px;
}

.collapsible-header i {
    width: 8px !important;
}

.comment-det {
    padding: 15px 15px !important;
}

.comment-comm {
    padding: 2% 5% 7% 5% !important;
}

.collection-custom {
    margin: -0.5rem 5% 1rem 5% !important;
}

.btn-curtir {
    color: rgba(96, 125, 139, 0.6);
}

span.curtiu > i, .curtiu {
    color: #625d8c !important;
}